<md-dialog role="dialog" tabindex="-1" class="md-transition-in" style="" aria-label="Submit Items ...">
  <md-dialog-content class="md-dialog-content">
    <h2 class="md-title">Cancel Account</h2>
    <p>This Will Schedule Your Account To Be Deleted At The End Of Your Current Monthly Subscription!!</p>
    <p>Are You Sure You Want To Do This?</p>
  </md-dialog-content>
  <div class="md-actions">
    <button aria-label="Submit" ng-click="dctrl.cancelAccount()" class="md-primary md-button md-ink-ripple" type="button"><span>Submit</span></button>
    <button aria-label="Close" ng-click="dctrl.cancel()" class="md-primary md-button md-ink-ripple" type="button"><span>Close</span></button>
  </div>
<div class="md-dialog-focus-trap" tabindex="0"></div></md-dialog>
