
<md-dialog aria-label="Dialog for Verify Email" style="max-width:380px">
  <md-dialog-content>
<div flex layout="column">
      <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Warning</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="fgverifyCtrl.cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
       <form flex layout="row" name="verifyEmail.form" layout-padding>
         <span flex ></span>

           <div layout="column">
             <h2>The email you enterd has not been verified.</h2>
             <h2>You must verify before password recovery can be initiated.</h2>
             <!-- <div>
                 <md-input-container flex layout="row" class="input-row layout-row rowOffset">
                   <label class="loginLabel required">Email</label>
                   <md-icon class="md-icons iconOff">email</md-icon>
                   <input ng-required="true" type="email" ng-model="user.email" autocomplete="off">
                 </md-input-container>
             </div> -->
               <section style="margin-top:20px" layout="row" layout-align="center center">
                 <md-button class="md-warn md-raised md-hue-2" ng-click="fgverifyCtrl.testercom($event,fgverifyCtrl.user)" type="button">Send Verify Email</md-button>
               </section>
         </div>

       <span flex></span>
     </form>
</div>
</md-dialog-content>
</md-dialog>
