
<md-dialog aria-label="Dialog for Signup" style="max-width:380px">
  <md-dialog-content>
<div flex layout="column">
      <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Forgot Password</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="fgpCtrl.cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
       <form flex layout="row" name="forgotPassword.form" layout-padding>
         <span flex ></span>
           <div layout="column">
             <p>An email will be sent to the address below with instructions.</p>
             <p>The sent email token will be good for one hour.</p>
             <div>
                 <md-input-container flex layout="row" class="input-row layout-row rowOffset">
                   <label class="loginLabel">Email&#42;</label>
                   <md-icon class="md-icons iconOff">email</md-icon>
                   <input ng-required="true" type="email" ng-model="user.email" autocomplete="off">
                 </md-input-container>
             </div>
               <section style="margin-top:20px" layout="row" layout-align="center center">
                 <md-button ng-disabled="forgotPassword.form.$invalid" class="md-raised md-primary" ng-click="resetPassword(user)">Submit</md-button>
               </section>
         </div>
       <span flex></span>
     </form>
</div>
</md-dialog-content>
</md-dialog>
