<div class="box" layout="row" layout-align="center center">
	<!-- <md-card layout="column" ng-show="busy" layout-align="center center">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</md-card> -->

<md-card class="login-form" ng-hide="busy" layout="column" layout-align="center center">
		<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Lōgïn Password Reset</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
		       <form layout="row" name="register.form" style="padding:15px">
		         <span flex></span>
		           <div layout="column">
								 <div>
		               <md-input-container layout="row" class="input-row layout-row rowOffset">
		                   <label class="loginLabel">Password&#42;</label>
		                   <md-icon class="material-icons iconOff">lock</md-icon>
		                   <input name="newPassword" type="password" ng-required="true" ng-model="signUp.password">
		                 </md-input-container>
		               </div>

		               <div>
		                 <md-input-container layout="row" class="input-row layout-row rowOffset">
		                     <label class="loginLabel">Confirm Password&#42;</label>
		                     <md-icon class="material-icons iconOff">lock_outline</md-icon>
		                     <input match-password="newPassword" type="password" name="confirmPassword" ng-required="true" ng-model="signUp.password2">
		                   </md-input-container>
		             </div>
								 <section style="margin-top:20px" layout="row" layout-align="center center">
						 			<button disabled="disabled" ng-disabled="register.form.$invalid" class="md-raised md-primary" ng-click="passwordReset(reset)">Reset Password</button>
									<button disabled="disabled" aria-disabled="true" aria-label="Add Item" ng-click="ctrl.addItem()" ng-disabled="item.form.$invalid" class="md-primary md-button md-ink-ripple" type="button"><span>Add Item</span></button>
							 </section>
		         </div>
		       <span flex></span>
		     </form>
	</md-card>
</div>
