
<div flex layout="row">
  <div flex flex-xs="5" layout="row"></div>
<md-card class="login-form" ng-hide="busy" layout="column" layout-align="center center">
      <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Lōgïn Profile</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
       <form flex layout="row" name="register.form" style="padding:15px">
         <span flex ></span>
           <div layout="column" style="margin-top:25px">
             <div>
                 <md-input-container flex layout="row" class="input-row layout-row rowOffset">
                   <label class="loginLabel">Full Name&#42;</label>
                   <md-icon class="md-icons iconOff">person</md-icon>
                   <input type="text" ng-model="profile.user_name" autocomplete="off">
                 </md-input-container>
             </div>
             <div>
                 <md-input-container flex layout="row" class="input-row layout-row rowOffset">
                   <label class="loginLabel">Email&#42;</label>
                   <md-icon class="md-icons iconOff">email</md-icon>
                   <input type="email" ng-model="profile.user_email" autofocus="autofocus" autocomplete="off">
                 </md-input-container>
             </div>


             <md-switch layout-align="start" ng-click="access = !access" aria-label="active switch">
                    Change Password
              </md-switch>

              <!-- <md-checkbox layout-align="start" ng-model="data.cb1" ng-click="access = !access" aria-label="Checkbox">
                   Change Password
             </md-checkbox> -->
             <div ng-show="access">
               <md-input-container ng-show="access" layout="row" class="input-row layout-row rowOffset">
                   <label class="loginLabel">Password&#42;</label>
                   <md-icon class="material-icons iconOff">lock</md-icon>
                   <input name="newPassword" type="password" ng-model="profile.password">
                 </md-input-container>
               </div>

               <div ng-show="access">
                 <md-input-container class="input-row layout-row rowOffset">
                     <label class="loginLabel">Confirm Password&#42;</label>
                     <md-icon class="material-icons iconOff">lock_outline</md-icon>
                     <input match-password="newPassword" type="password" name="confirmPassword" ng-model="profile.password2">
                   </md-input-container>
             </div>


             <div>
                 <md-input-container flex layout="row" class="input-row layout-row rowOffset">
                   <label class="loginLabel">Phone Number</label>
                   <md-icon class="md-icons iconOff">phone</md-icon>
                   <input type="text" ng-model="profile.user_phone" autocomplete="off">
                 </md-input-container>
             </div>

               <div class="md-errors-spacer"></div>
               <div>
                 <md-input-container flex layout="row" class="input-row layout-row rowOffset">
                   <label class="loginLabel">Address</label>
                   <md-icon class="md-icons iconOff">assignment_ind</md-icon>
                   <textarea type="text" ng-model="profile.user_address" autocomplete="off"></textarea>
                 </md-input-container>
               </div>
               <section flex style="margin-top:20px" layout="row" layout-align="center center">
                <md-button disabled="disabled" ng-disabled="register.form.$invalid" class="md-raised md-primary" ng-click="profileChange(event,profile)" type="button">Change Profile</md-button>
</section>
                <section style="margin: 20px 0 -15px -30px">
                <a id="cancelAccountCss" ng-click="cancelAccount()">Cancel Account</a>
               </section>
         </div>
       <span flex></span>
     </form>
</md-card>
<div flex flex-xs="5" layout="row"></div>
</div>
