<md-dialog-content id="dialog_registrar" class="md-dialog-content">



  <!-- ngIf: item.form.$submitted && item.form.$invalid -->

  <form style="" class="ng-invalid ng-invalid-required" name="item.form" ng-submit="ctrl.addItem()">

<h3 class="md-subhead">Registrar Information</h3>

    <div layout="row" class="input-row layout-row">
      <md-input-container class="flex" flex="">
        <label>Registrar Name&#42;</label>
        <input style="" ng-trim="false" name="registrar_name" ng-model="registrar_table.registrar_name" required="true">
        <div class="md-errors-spacer">
          <div class="md-char-counter"></div>
        </div>
      </md-input-container>

      <md-input-container class="flex" flex="">
        <label>Login URL&#42;</label>
        <input style="" aria-invalid="true" name="login_url" ng-model="registrar_table.login_url" required="true">
        <div class="md-errors-spacer"></div>
      </md-input-container>
    </div>


    <div layout="row" class="input-row layout-row">
      <md-input-container class="flex" flex="">
        <label>Username&#42;</label>
        <input style="" aria-invalid="true" name="login_username" ng-model="registrar_table.login_username" required="true">
        <div class="md-errors-spacer"></div>
      </md-input-container>
      
            <md-input-container class="flex" flex="">
        <label>Password&#42;</label>
        <input style="" aria-invalid="true" name="login_password" ng-model="registrar_table.login_password" required="true">
        <div class="md-errors-spacer"></div>
      </md-input-container>
      </div>

    <h3 class="md-subhead">Other Information</h3>


    <div layout="row" class="input-row layout-row">

<md-input-container class="flex" flex="">
        <md-select md-on-open="getPersonsFunc()" ng-model="registrar_table.person_ID" placeholder="Person" class="flex" flex="">
          <md-option ng-value="person.person_ID" ng-repeat="person in getPersons.data">{{person.first_name}}, {{person.last_name}}</md-option>
          </md-select>
   <button ng-controller="personController" class="md-button md-ink-ripple" type="button" ng-click="addItem($event)">
      <div class="addButtonInModl">+ person</div>
    </button>
      </md-input-container>

      <md-input-container class="flex" flex="">
        <label>Credit Card Last Four&#42;</label>
        <input style="" name="credit_card_last_4" ng-model="registrar_table.credit_card_last_4" required="true">
        <div class="md-errors-spacer"></div>
      </md-input-container>
    </div>
  </form>



  <div class="md-dialog-actions">
    <button disabled="disabled" aria-disabled="true" aria-label="Add Item" ng-click="ctrl.addItem()" ng-disabled="item.form.$invalid" class="md-primary md-button md-ink-ripple" type="button"><span>Add Item</span></button>
    <button aria-label="Cancel" ng-click="ctrl.cancel()" class="md-primary md-button md-ink-ripple" type="button"><span>Cancel</span></button>
  </div>

  <div tabindex="0" class="md-dialog-focus-trap"></div>
</md-dialog-content>

