<md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show" aria-hidden="false">
  <div class="md-toolbar-tools">
    <h2 class="md-title">Registrar</h2>
    <div flex="" class="flex"></div>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true" aria-label="filter_list">
      <md-icon class="material-icons">search</md-icon>
    </button>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="bulkDownload($event,registrar_tables.data,$file,$header,$location)" aria-label="bulk_download">
      <i class="material-icons">file_download</i>
    </button>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="addItem($event)">
      <md-icon class="material-icons">add_circle</md-icon>
    </button>
  </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show && !selected.length" aria-hidden="true">
  <div class="md-toolbar-tools">
    <md-icon class="material-icons">search</md-icon>
    <form flex="" name="filter.form" class="ng-pristine ng-valid flex">
      <input ng-model="query.filter" ng-model-options="filter.options" placeholder="search" class="ng-pristine ng-untouched ng-valid" aria-invalid="false" type="text">
    </form>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="removeFilter()" aria-label="close">
      <md-icon class="material-icons">close</md-icon>
    </button>
  </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar alternate ng-hide" ng-show="selected.length" aria-hidden="true">
  <div class="md-toolbar-tools layout-align-space-between-stretch" layout-align="space-between">
<div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="delete($event)" aria-label="delete">
      <md-icon class="material-icons">delete</md-icon>
    </button>
  </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container>
  <table md-table md-row-select ng-model="selected" md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
      <tr md-row>
        <th md-column md-order-by="registrar_name"><span>Registrar Name</span></th>
        <th md-column md-numeric md-order-by="login_url"><span>Login URL</span></th>
        <th md-column md-numeric md-order-by="login_username"><span>Username</span></th>
        <th md-column md-numeric md-order-by="login_password"><span>Password</span></th>
        <th md-column md-numeric md-order-by="last_name"><span>Person</span></th>
        <th md-column md-numeric md-order-by="credit_card_last_4"><span>Credit Card Last Four</span></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="registrar_table" md-select-id="name" ng-repeat="registrar_table in registrar_tables.data">
        <td md-cell="" ng-click="changeCellText($event, registrar_table, 'registrar_name',dbTableInfo.db_table,dbTableInfo.db_ID,382)" placeholder="{{registrar_table.registrar_name}} "
        aria-label="registrar_table.registrar_name" class="md-cell ng-binding md-clickable" tabindex="0">{{registrar_table.registrar_name}}</td>
        <td md-cell="" ng-click="changeCellText($event, registrar_table, 'login_url',dbTableInfo.db_table,dbTableInfo.db_ID)" placeholder="{{registrar_table.login_url}} "
        class="md-cell ng-binding md-clickable" tabindex="0">{{registrar_table.login_url}}</td>
        <td md-cell="" ng-click="changeCellText($event, registrar_table, 'login_username',dbTableInfo.db_table,dbTableInfo.db_ID,382)" placeholder="{{registrar_table.login_username}} "
        class="md-cell ng-binding md-clickable" tabindex="0">{{registrar_table.login_username}}</td>
        <td md-cell="" ng-click="changeCellText($event, registrar_table, 'login_password',dbTableInfo.db_table,dbTableInfo.db_ID,382)" placeholder="{{registrar_table.login_password}} "
        class="md-cell ng-binding md-clickable" tabindex="0">{{registrar_table.login_password}}</td>
        <td md-cell>
  			<md-select md-on-open="getPersonsFunc()" ng-change="changeDropdown('person_ID','person_ID',registrar_table,dbTableInfo.db_table,dbTableInfo.db_ID)"
            ng-model="registrar_table.person_ID" placeholder="{{registrar_table.first_name}}, {{registrar_table.last_name}}">
    			<md-option ng-value="registrar.person_ID"
                ng-repeat="registrar in getPersons.data">{{registrar.first_name}}, {{registrar.last_name}}</md-option>
  			</md-select>

		</td>
        <td md-cell="" ng-click="changeCellText($event, registrar_table, 'credit_card_last_4',dbTableInfo.db_table,dbTableInfo.db_ID,4)" placeholder="{{registrar_table.credit_card_last_4}} "
        class="md-cell ng-binding md-clickable" tabindex="0">{{registrar_table.credit_card_last_4}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="[15, 30, 45]" md-page="query.page" md-total="{{registrar_tables.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
