<md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show" aria-hidden="false">
  <div class="md-toolbar-tools">
    <h2 class="md-title">Resource Login Information</h2>
    <div flex="" class="flex"></div>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true" aria-label="filter_list">
      <md-icon class="material-icons">search</md-icon>
    </button>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="bulkDownload($event,software_keys_tables.data,$file,$header,$location)" aria-label="bulk_download">
      <i class="material-icons">file_download</i>
    </button>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="addItem($event)" aria-label="local_dining">
      <md-icon class="material-icons">add_circle</md-icon>
    </button>
  </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show && !selected.length" aria-hidden="true">
  <div class="md-toolbar-tools">
    <md-icon class="material-icons">search</md-icon>
    <form flex="" name="filter.form" class="ng-pristine ng-valid flex">
      <input ng-model="query.filter" ng-model-options="filter.options" placeholder="search" class="ng-pristine ng-untouched ng-valid" aria-invalid="false" type="text">
    </form>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="removeFilter()" aria-label="close">
      <md-icon class="material-icons">close</md-icon>
    </button>
  </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar alternate ng-hide" ng-show="selected.length" aria-hidden="true">
  <div class="md-toolbar-tools layout-align-space-between-stretch" layout-align="space-between">
<div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="delete($event)" aria-label="delete">
      <md-icon class="material-icons">delete</md-icon>
    </button>
  </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container>
  <table md-table md-row-select ng-model="selected" md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
      <tr md-row>
        <th md-column md-order-by="software_name"><span>Software Name</span></th>
        <th md-column md-numeric md-order-by="license_key"><span>License Key</span></th>
        <th md-column md-numeric md-order-by="serial_number"><span>Serial Number</span></th>
        <th md-column md-numeric md-order-by="last_name"><span>Person</span></th>
        <th md-column md-order-by="comments">
          <md-icon class="ng-isolate-scope material-icons">comments</md-icon>
          <span>Comments</span></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="software_keys_table" md-select-id="name" ng-repeat="software_keys_table in software_keys_tables.data">
        <td md-cell="" ng-click="changeCellText($event, software_keys_table, 'software_name',dbTableInfo.db_table,dbTableInfo.db_ID,255)" placeholder="{{software_keys_table.software_name}} "
        aria-label="software_keys_table.software_name" class="md-cell ng-binding md-clickable" tabindex="0">{{software_keys_table.software_name}}</td>
        <td md-cell="" ng-click="changeCellText($event, software_keys_table, 'license_key',dbTableInfo.db_table,dbTableInfo.db_ID,255)" placeholder="{{software_keys_table.license_key}} "
        class="md-cell ng-binding md-clickable" tabindex="0">{{software_keys_table.license_key}}</td>
        <td md-cell="" ng-click="changeCellText($event, software_keys_table, 'serial_number',dbTableInfo.db_table,dbTableInfo.db_ID,255)" placeholder="{{software_keys_table.serial_number}} "
        class="md-cell ng-binding md-clickable" tabindex="0">{{software_keys_table.serial_number}}</td>
        <td md-cell>
  			<md-select md-on-open="getPersonsFunc()" ng-change="changeDropdown('person_ID','person_ID',software_keys_table,dbTableInfo.db_table,dbTableInfo.db_ID)"
            ng-model="software_keys_table.person_ID" placeholder="{{software_keys_table.first_name}}, {{software_keys_table.last_name}}">
    			<md-option ng-value="registrar.person_ID"
                ng-repeat="registrar in getPersons.data">{{registrar.first_name}}, {{registrar.last_name}}</md-option>
  			</md-select>

		</td>
        <td md-cell="" ng-click="changeCellText($event, software_keys_table, 'comments',dbTableInfo.db_table,dbTableInfo.db_ID)" placeholder="{{software_keys_table.comments}} "
        class="md-cell ng-binding md-clickable" tabindex="0">{{software_keys_table.comments}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="[15, 30, 45]" md-page="query.page" md-total="{{software_keys_tables.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
