<md-dialog-content id="dialog_registrar" class="md-dialog-content">



  <!-- ngIf: item.form.$submitted && item.form.$invalid -->

  <form style="" class="ng-invalid ng-invalid-required" name="item.form" ng-submit="ctrl.addItem()">

<h3 class="md-subhead">Person Information</h3>

    <div layout="row" class="input-row layout-row">
      <md-input-container class="flex" flex="">
        <label>First Name&#42;</label>
        <input style="" ng-trim="false" name="first_name" ng-model="person_table.first_name" required="true">
        <div class="md-errors-spacer">
          <div class="md-char-counter"></div>
        </div>
      </md-input-container>

      <md-input-container class="flex" flex="">
        <label>Last Name&#42;</label>
        <input style="" aria-invalid="true" name="last_name" ng-model="person_table.last_name" required="true">
        <div class="md-errors-spacer"></div>
      </md-input-container>
    </div>


    <div layout="row" class="input-row layout-row">
      <md-input-container class="flex" flex="">
        <label>Email&#42;</label>
        <input style="" aria-invalid="true" name="email" ng-model="person_table.email" required="true">
        <div class="md-errors-spacer"></div>
      </md-input-container>
      </div>
      <div layout="row" class="input-row layout-row">
            <md-input-container class="flex" flex="">
        <label>Street Address</label>
        <input style="" aria-invalid="true" name="street_address" ng-model="person_table.street_address">
        <div class="md-errors-spacer"></div>
      </md-input-container>
      </div>


    <div layout="row" class="input-row layout-row">

<md-input-container class="flex" flex="">
        <label>City</label>
        <input style="" name="city" ng-model="person_table.city">
        <div class="md-errors-spacer"></div>
      </md-input-container>

      <md-input-container class="flex" flex="">
        <label>State</label>
        <input style="" name="state" ng-model="person_table.state">
        <div class="md-errors-spacer"></div>
      </md-input-container>
    </div>
    
        <div layout="row" class="input-row layout-row">

<md-input-container class="flex" flex="">
        <label>Phone Number</label>
        <input style="" name="phone_number" ng-model="person_table.phone_number">
        <div class="md-errors-spacer"></div>
      </md-input-container>

      <md-input-container class="flex" flex="">
        <label>Zip Code</label>
        <input style="" name="zip_code" ng-model="person_table.zip_code">
        <div class="md-errors-spacer"></div>
      </md-input-container>
    </div>
  </form>



  <div class="md-dialog-actions">
    <button disabled="disabled" aria-disabled="true" aria-label="Add Item" ng-click="ctrl.addItem()" ng-disabled="item.form.$invalid" class="md-primary md-button md-ink-ripple" type="button"><span>Add Item</span></button>
    <button aria-label="Cancel" ng-click="ctrl.cancel()" class="md-primary md-button md-ink-ripple" type="button"><span>Cancel</span></button>
  </div>

  <div tabindex="0" class="md-dialog-focus-trap"></div>
</md-dialog-content>

