<md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show" aria-hidden="false">
  <div class="md-toolbar-tools">
    <h2 class="md-title">Users</h2>
    <div flex="" class="flex"></div>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true" aria-label="filter_list">
      <md-icon class="material-icons">search</md-icon>
    </button>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="bulkDownload($event,person_tables.data,$file,$header,$location)" aria-label="bulk_download">
      <i class="material-icons">file_download</i>
    </button>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="addItem($event)" aria-label="local_dining">
      <md-icon class="material-icons">add_circle</md-icon>
    </button>
  </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show && !selected.length" aria-hidden="true">
  <div class="md-toolbar-tools">
    <md-icon class="material-icons">search</md-icon>
    <form flex="" name="filter.form" class="ng-pristine ng-valid flex">
      <input ng-model="query.filter" ng-model-options="filter.options" placeholder="search" class="ng-pristine ng-untouched ng-valid" aria-invalid="false" type="text">
    </form>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="removeFilter()" aria-label="close">
      <md-icon class="material-icons">close</md-icon>
    </button>
  </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar alternate ng-hide" ng-show="selected.length" aria-hidden="true">
  <div class="md-toolbar-tools layout-align-space-between-stretch" layout-align="space-between">
<div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="delete($event)" aria-label="delete">
      <md-icon class="material-icons">delete</md-icon>
    </button>
  </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container>
  <table md-table md-row-select ng-model="selected" md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
      <tr md-row>
        <th md-column md-order-by="user_name"><span>User Name</span></th>
        <th md-column md-order-by="user_email"><span>Email</span></th>
        <th md-column md-order-by="user_address"><span>Address</span></th>
        <th md-column md-order-by="user_phone"><span>Phone Number</span></th>
        <th md-column md-order-by="user_type"><span>User Type</span></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="person_table" md-select-id="name" ng-repeat="person_table in person_tables.data">
        <td md-cell="" ng-click="changeCellText($event, person_table, 'user_name',dbTableInfo.db_table,dbTableInfo.db_ID,382)" placeholder="{{person_table.user_name}} "
        aria-label="person_table.user_name" class="md-cell ng-binding md-clickable" tabindex="0">{{person_table.user_name}}</td>
        <td md-cell="" ng-click="changeCellText($event, person_table, 'user_email',dbTableInfo.db_table,dbTableInfo.db_ID,382)" placeholder="{{person_table.user_email}} "
        class="md-cell ng-binding md-clickable" tabindex="0">{{person_table.user_email}}</td>
        <td md-cell="" ng-click="changeCellText($event, person_table, 'user_address',dbTableInfo.db_table,dbTableInfo.db_ID,382)" placeholder="{{person_table.user_address}} "
        class="md-cell ng-binding md-clickable" tabindex="0">{{person_table.user_address}}</td>
        <td md-cell="" ng-click="changeCellText($event, person_table, 'user_phone',dbTableInfo.db_table,dbTableInfo.db_ID,382)" placeholder="{{person_table.user_phone}} "
        class="md-cell ng-binding md-clickable" tabindex="0">{{person_table.user_phone}}</td>
        <!-- <td md-cell="" ng-click="changeCellText($event, person_table, 'user_type',dbTableInfo.db_table,dbTableInfo.db_ID,382)" placeholder="{{person_table.user_type}} "
        class="md-cell ng-binding md-clickable" tabindex="0">{{person_table.user_type}}</td> -->
        <td md-cell>
  			<md-select md-on-open="getUserType()" ng-change="addPwrd('user_type','user_type',person_table,dbTableInfo.db_table,dbTableInfo.db_ID)"
            ng-model="person_table.user_type" placeholder="{{person_table.user_type}}">
    			<md-option ng-value="userType.user_type"
                ng-repeat="userType in getUserT.data">{{userType.user_type}}</md-option>
  			</md-select>
      </td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="[15, 30, 45]" md-page="query.page" md-total="{{person_tables.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
