RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/service/
RewriteCond %{REQUEST_URI} !^/jordan/
RewriteRule ^(.*)$ /index.php [QSA,L]
