
<md-dialog aria-label="Dialog for Signup" style="max-width:380px">
  <md-dialog-content>
<div flex layout="column">
      <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Register / Pay</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
       <form flex layout="row" name="register.form" layout-padding>
         <span flex ></span>
           <div layout="column" style="margin-top:25px">
             <div>
                 <md-input-container flex layout="row" class="input-row layout-row rowOffset">
                   <label class="loginLabel">Email&#42;</label>
                   <md-icon class="md-icons iconOff">email</md-icon>
                   <input ng-required="true" type="email" ng-model="signUp.email" autocomplete="off">
                 </md-input-container>
             </div>
             <div>
               <md-input-container layout="row" class="input-row layout-row rowOffset">
                   <label class="loginLabel">Password&#42;</label>
                   <md-icon class="material-icons iconOff">lock</md-icon>
                   <input name="newPassword" type="password" ng-required="true" ng-model="signUp.password">
                 </md-input-container>
               </div>

               <div>
                 <md-input-container layout="row" class="input-row layout-row rowOffset">
                     <label class="loginLabel">Confirm Password&#42;</label>
                     <md-icon class="material-icons iconOff">lock_outline</md-icon>
                     <input match-password="newPassword" type="password" name="confirmPassword" ng-required="true" ng-model="signUp.password2">
                   </md-input-container>
             </div>
             <div layout="row">
                 <md-input-container layout="row" class="input-row layout-row rowOffset">
                   <label class="loginLabel">Account Type</label>
                   <md-icon class="md-icons iconOff">supervisor_account</md-icon>
                       <md-select
                           ng-model="signUp.accountName" placeholder="Individual" ng-init="signUp.accountName = 'Individual'" ng-change="access = !access">
                         <md-option ng-value="accountName"
                         ng-repeat="accountName in ['Individual','Agency']">{{accountName}}</md-option>
                       </md-select>
                 </md-input-container>

                 <md-input-container layout="row" ng-show="access" class="input-row layout-row rowOffset" style="margin-left:10px">
                   <label class="loginLabel">Account Name&#42;</label>
                   <input ng-required="access" type="text" ng-model="signUp.account_name" class="rowOffset2 flex" autocomplete="off">
                 </md-input-container>
              </div>
             <div>
                 <md-input-container layout="row" class="input-row layout-row rowOffset">
                   <label class="loginLabel">Full Name</label>
                   <md-icon class="md-icons iconOff">person</md-icon>
                   <input ng-required="" type="text" ng-model="signUp.fullName" autocomplete="off">
                 </md-input-container>
             </div>
             <div>
                <md-input-container layout="row" class="input-row layout-row rowOffset">
                  <label class="loginLabel">Phone Number</label>
                  <md-icon class="md-icons iconOff">phone</md-icon>
                  <input type="text" ng-model="signUp.phone" autocomplete="off">
                </md-input-container>
            </div>

               <div class="md-errors-spacer"></div>
               <div>
                 <md-input-container layout="row" class="input-row layout-row rowOffset">
                   <label class="loginLabel">Address</label>
                   <md-icon class="md-icons iconOff">assignment_ind</md-icon>
                   <textarea type="text" ng-model="signUp.address" autocomplete="off"></textarea>
                 </md-input-container>
               </div>
               <section style="margin-top:20px" layout="row" layout-align="center center">
                <button disabled="disabled" ng-disabled="register.form.$invalid" class="stripe-button-el" stripe-checkout="sUpCtrl.register"
                         data-key="pk_test_DDqS4Ps7loF2JzJPH5JinfPW"
                         data-zip-code="false"
                         data-image="https://webwright.io/wp-content/uploads/2016/08/webwright_io-blue-wrench13-300x300.png"
                         >
                   <span style="display: block; min-height: 30px;">Pay with Card 7/Mo</span>
             </button>
               </section>
         </div>
       <span flex></span>
     </form>
</div>
</md-dialog-content>
</md-dialog>
