<md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show" aria-hidden="false">
  <div class="md-toolbar-tools">
    <h2 class="md-title">Resource Login Information</h2>
    <div flex="" class="flex"></div>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true" aria-label="filter_list">
      <md-icon class="material-icons">search</md-icon>
    </button>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="bulkDownload($event,resource_login_tables.data,$file,$header,$location)" aria-label="bulk_download">
      <i class="material-icons">file_download</i>
    </button>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="addItem($event)" aria-label="local_dining">
      <md-icon class="material-icons">add_circle</md-icon>
    </button>
  </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show && !selected.length" aria-hidden="true">
  <div class="md-toolbar-tools">
    <md-icon class="material-icons">search</md-icon>
    <form flex="" name="filter.form" class="ng-pristine ng-valid flex">
      <input ng-model="query.filter" ng-model-options="filter.options" placeholder="search" class="ng-pristine ng-untouched ng-valid" aria-invalid="false" type="text">
    </form>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="removeFilter()" aria-label="close">
      <md-icon class="material-icons">close</md-icon>
    </button>
  </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar alternate ng-hide" ng-show="selected.length" aria-hidden="true">
  <div class="md-toolbar-tools layout-align-space-between-stretch" layout-align="space-between">
<div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="delete($event)" aria-label="delete">
      <md-icon class="material-icons">delete</md-icon>
    </button>
  </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container>
  <table md-table md-row-select ng-model="selected" md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
      <tr md-row>
        <th md-column md-order-by="resource_url_name"><span>URL</span></th>
        <th md-column md-numeric md-order-by="name_of_product"><span>Name of Product</span></th>
        <th md-column md-numeric md-order-by="username"><span>Username</span></th>
        <th md-column md-numeric md-order-by="password"><span>Password</span></th>
        <th md-column md-numeric md-order-by="user_name"><span>Owner</span></th>
        <th md-column md-order-by="product_description">
          <md-icon class="ng-isolate-scope material-icons">comments</md-icon>
          <span>Product Description</span></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="resource_login_table" md-select-id="name" ng-repeat="resource_login_table in resource_login_tables.data">
        <td md-cell="" ng-click="changeCellText($event, resource_login_table, 'resource_url_name',dbTableInfo.db_table,dbTableInfo.db_ID)" placeholder="{{resource_login_table.resource_url_name}} "
        aria-label="resource_login_table.resource_url_name" class="md-cell ng-binding md-clickable" tabindex="0">{{resource_login_table.resource_url_name}}</td>
        <td md-cell="" ng-click="changeCellText($event, resource_login_table, 'name_of_product',dbTableInfo.db_table,dbTableInfo.db_ID,382)" placeholder="{{resource_login_table.name_of_product}} "
        class="md-cell ng-binding md-clickable" tabindex="0">{{resource_login_table.name_of_product}}</td>
        <td md-cell="" ng-click="changeCellText($event, resource_login_table, 'username',dbTableInfo.db_table,dbTableInfo.db_ID,382)" placeholder="{{resource_login_table.username}} "
        class="md-cell ng-binding md-clickable" tabindex="0">{{resource_login_table.username}}</td>
        <td md-cell="" ng-click="changeCellText($event, resource_login_table, 'password',dbTableInfo.db_table,dbTableInfo.db_ID,382)" placeholder="{{resource_login_table.password}} "
        class="md-cell ng-binding md-clickable" tabindex="0">{{resource_login_table.password}}</td>
        <td md-cell>
          <md-select md-on-open="getOwnersFunc()" ng-change="changeDropdown('user_ID','user_ID',resource_login_table,dbTableInfo.db_table,dbTableInfo.db_ID)"
              ng-model="resource_login_table.user_ID" placeholder="{{$firstSpan}}{{resource_login_table.user_name}}</span></br>{{$secondSpan}}{{resource_login_table.user_email}}</span>">
            <md-option ng-value="variable.user_ID"
                  ng-repeat="variable in getOwners.data"><span class="firstSpan">{{variable.user_name}}</span></br><span class="secondSpan">{{variable.user_email}}</span></md-option>
          </md-select>
		</td>
        <td md-cell="" ng-click="changeCellText($event, resource_login_table, 'product_description',dbTableInfo.db_table,dbTableInfo.db_ID)" placeholder="{{resource_login_table.product_description}} "
        class="md-cell ng-binding md-clickable" tabindex="0">{{resource_login_table.product_description}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="[15, 30, 45]" md-page="query.page" md-total="{{resource_login_tables.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
