<md-dialog-content id="dialog_registrar" class="md-dialog-content">
  <!-- ngIf: item.form.$submitted && item.form.$invalid -->

  <form style="" class="ng-invalid ng-invalid-required" name="item.form" ng-submit="ctrl.addItem()">

<h3 class="md-subhead">Change Log Information</h3>

    <div layout="row" class="input-row layout-row">
      <md-input-container class="flex" flex="">
        <label>Issue&#42;</label>
        <textarea style="" ng-trim="false" name="issue" ng-model="change_log_table.issue" required="true"></textarea>
        <div class="md-errors-spacer">
          <div class="md-char-counter"></div>
        </div>
      </md-input-container>
      </div>

      <div layout="row" class="input-row layout-row">
        <div layout="column" flex style="font-size:.8em; color:grey">
            <label>Date Entered&#42;</label>
            <md-datepicker ng-init="change_log_table.date_entered = myDate" ng-model="change_log_table.date_entered" name="dateEnteredField" required="true"></md-datepicker>
        </div>
      </div>




<div layout="row" class="input-row layout-row">
          <md-input-container class="flex" flex="">
              <md-select md-on-open="getOwnersFunc()" ng-model="change_log_table.user_ID" placeholder="Owner&#42;" class="flex" flex="">
                <md-option ng-value="variable.user_ID" ng-repeat="variable in getOwners.data"><span class="firstSpan">{{variable.user_name}}</span></br><span class="secondSpan">{{variable.user_email}}</span></md-option>
                </md-select>

    			<button ng-controller="personController" class="md-button md-ink-ripple" type="button" ng-click="addItem($event)">
      				<div class="addButtonInModl">+ owner</div>
    			</button>
        </md-input-container>
        </div>

        <div layout="row" class="input-row layout-row">
          <md-input-container style="margin-top:40px" class="flex" flex="">
          <label style="margin-bottom:20px">Completed</label>
            <md-switch aria-label="active switch" ng-init="change_log_table.completed = 'No'" ng-model="change_log_table.completed" ng-true-value="'Yes'" ng-false-value="'No'">
              {{change_log_table.completed}}
        </md-switch>
          </md-input-container>
        </div>


  </form>
  <div class="md-dialog-actions">
    <button disabled="disabled" aria-disabled="true" aria-label="Add Item" ng-click="ctrl.addItem()" ng-disabled="item.form.$invalid" class="md-primary md-button md-ink-ripple" type="button"><span>Add Item</span></button>
    <button aria-label="Cancel" ng-click="ctrl.cancel()" class="md-primary md-button md-ink-ripple" type="button"><span>Cancel</span></button>
  </div>

  <div tabindex="0" class="md-dialog-focus-trap"></div>
</md-dialog-content>
