<md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show" aria-hidden="false">
  <div class="md-toolbar-tools">
    <h2 class="md-title">Change Log</h2>
    <div flex="" class="flex"></div>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true" aria-label="filter_list">
      <md-icon class="material-icons">search</md-icon>
    </button>
    <!-- <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="bulkUpload($event)" aria-label="bulk_upload">
      <i class="material-icons">file_upload</i>
    </button> -->
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="bulkDownload($event,change_log_tables.data,$file,$header,$location)" aria-label="bulk_download">
      <i class="material-icons">file_download</i>
    </button>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="addItem($event)" aria-label="add_new_item">
      <md-icon class="material-icons">add_circle</md-icon>
    </button>
  </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show && !selected.length" aria-hidden="true">
  <div class="md-toolbar-tools">
    <md-icon class="material-icons">search</md-icon>
    <form flex="" name="filter.form" class="ng-pristine ng-valid flex">
      <input ng-model="query.filter" ng-model-options="filter.options" placeholder="search" class="ng-pristine ng-untouched ng-valid" aria-invalid="false" type="text">
    </form>
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="removeFilter()" aria-label="close">
      <md-icon class="material-icons">close</md-icon>
    </button>
  </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar alternate ng-hide" ng-show="selected.length" aria-hidden="true">
  <div class="md-toolbar-tools layout-align-space-between-stretch" layout-align="space-between">
<div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
<button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="delete($event)" aria-label="delete">
      <md-icon class="material-icons">delete</md-icon>
    </button>
  </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container>
  <table md-table md-row-select ng-model="selected" md-progress="promise">

    <thead md-head md-order="query.order" md-on-reorder="getChangeLog">
      <tr md-row>
        <th md-column md-order-by="issue"><span>Issue</span></th>
        <th md-column md-numeric md-order-by="date_entered"><span>Date Entered</span></th>
        <th md-column md-numeric md-order-by="completed"><span>Completed</span></th>
        <th md-column md-numeric md-order-by="user_name"><span>Owner</span></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="change_log_table" md-select-id="name" ng-repeat="change_log_table in change_log_tables.data">
        <td md-cell="" ng-click="changeCellText($event, change_log_table, 'issue',dbTableInfo.db_table,dbTableInfo.db_ID)" placeholder="{{change_log_table.issue}} "
        aria-label="change_log_table.issue" class="md-cell ng-binding md-clickable" tabindex="0">{{change_log_table.issue}}</td>

        <td md-cell>
            <md-datepicker ng-change="changeDate('date_entered',change_log_table,dbTableInfo.db_table,dbTableInfo.db_ID)"
            md-hide-icons="calendar"
            ng-model="change_log_table.date_entered"
            name="dateEnteredField" required=""></md-datepicker>
      	</td>

        <!--need slide button-->

        <td md-cell>
    		<md-switch ng-change="changeSwitchValue('completed',change_log_table,dbTableInfo.db_table,dbTableInfo.db_ID)" aria-label="active switch"
            ng-init="change_log_table.completed = change_log_table.completed" ng-model="change_log_table.completed"
            ng-true-value="'Yes'" ng-false-value="'No'" style="margin:0" tabindex="0">
      		</md-switch>
  		</td>

        <!--need Date -->


        <td md-cell>
        <md-select md-on-open="getOwnersFunc()" ng-change="changeDropdown('user_ID','user_ID',change_log_table,dbTableInfo.db_table,dbTableInfo.db_ID)"
            ng-model="change_log_table.user_ID" placeholder="{{$firstSpan}}{{change_log_table.user_name}}</span></br>{{$secondSpan}}{{change_log_table.user_email}}</span>">
          <md-option ng-value="variable.user_ID"
                ng-repeat="variable in getOwners.data"><span class="firstSpan">{{variable.user_name}}</span></br><span class="secondSpan">{{variable.user_email}}</span></md-option>
        </md-select>

		</td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="[15, 30, 45]" md-page="query.page" md-total="{{change_log_tables.count}}" md-on-paginate="getChangeLog" md-page-select></md-table-pagination>
