<md-dialog-content id="dialog_registrar" class="md-dialog-content">



  <!-- ngIf: item.form.$submitted && item.form.$invalid -->

  <form style="" class="ng-invalid ng-invalid-required" name="item.form" ng-submit="ctrl.addItem()">

<h3 class="md-subhead">W2 Accounts Information</h3>

    <div layout="row" class="input-row layout-row">
      <md-input-container class="flex" flex="">
        <label>Login URL Name&#42;</label>
        <input style="" ng-trim="false" name="login_url_name" ng-model="W2_accounts_table.login_url_name" required="true">
        <div class="md-errors-spacer">
          <div class="md-char-counter"></div>
        </div>
      </md-input-container>

      <md-input-container class="flex" flex="">
        <label>Login&#42;</label>
        <input style="" aria-invalid="true" name="Login" ng-model="W2_accounts_table.Login" required="true">
        <div class="md-errors-spacer"></div>
      </md-input-container>
    </div>


    <div layout="row" class="input-row layout-row">
      <md-input-container class="flex" flex="">
        <label>Password&#42;</label>
        <input style="" aria-invalid="true" name="Password" ng-model="W2_accounts_table.Password" required="true">
        <div class="md-errors-spacer"></div>
      </md-input-container>

            <md-input-container class="flex" flex="">
        <label>Account URL&#42;</label>
        <input style="" aria-invalid="true" name="account_url" ng-model="W2_accounts_table.account_url" required="true">
        <div class="md-errors-spacer"></div>
      </md-input-container>
      </div>

    <h3 class="md-subhead">Other Information</h3>


    <div layout="row" class="input-row layout-row">

<md-input-container class="flex" flex="">
        <md-select md-on-open="getOwnersFunc()" ng-model="W2_accounts_table.user_ID" placeholder="Owner" class="flex" flex="">
          <md-option ng-value="variable.user_ID" ng-repeat="variable in getOwners.data"><span class="firstSpan">{{variable.user_name}}</span></br><span class="secondSpan">{{variable.user_email}}</span></md-option>
          </md-select>
   <button ng-controller="personController" class="md-button md-ink-ripple" type="button" ng-click="addItem($event)">
      <div class="addButtonInModl">+ Owner</div>
    </button>
      </md-input-container>
<div class="md-errors-spacer"></div>
      <md-input-container class="flex" flex="">
        <label>Attached Domain</label>
        <input style="" name="attached_domain" ng-model="W2_accounts_table.attached_domain">
        <div class="md-errors-spacer"></div>
      </md-input-container>
    </div>
  </form>



  <div class="md-dialog-actions">
    <button disabled="disabled" aria-disabled="true" aria-label="Add Item" ng-click="ctrl.addItem()" ng-disabled="item.form.$invalid" class="md-primary md-button md-ink-ripple" type="button"><span>Add Item</span></button>
    <button aria-label="Cancel" ng-click="ctrl.cancel()" class="md-primary md-button md-ink-ripple" type="button"><span>Cancel</span></button>
  </div>

  <div tabindex="0" class="md-dialog-focus-trap"></div>
</md-dialog-content>
